[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=polybar
Comment=
Exec=sh /home/bye22/.config/launch_polybar.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

